@{
    ViewData["Title"] = "Home Page";
}
<style>
    .padding {
        padding: 8px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    ::-webkit-input-placeholder {
        color: black;
        font-weight: bold;
    }

    .btn-primary {
        width: 625px;
    }

    .padding-left {
        padding-left: 40px;
    }

    .padding-right {
        padding-right: 100px;
    }

    select {
        background: black;
        color: white;
        font: roboto;
    }

</style>
<div>
    <div class="container">
        <div class="select">
            <select class="form-select form-select-lg float-right" id="formtopic" aria-label=".form-select-lg example">
                <option selected>Please Select an Topic</option>
                <option value="t1">Apple's Mac Studio Is a Mightier Desktop for Creative Pros</option>
                <option value="t2">The Diminishing Returns of Streaming’s Glut of Grifters</option>
                <option value="t3">The Gaming Industry Unites to Cut Off Russia</option>
                <option value="t4">Everything You Need to Work From Home Like a Pro</option>
                <option value="t5">Chinese Spies Hacked a Livestock App to Breach US State Networks</option>
            </select>

        </div>
    </div>

    <div class="container">
<textarea id="txtarea1" class="text-center" disable readonly="readonly" rows="8" cols="132">

</textarea>
    </div>

    <!-- Question 1 Part -->
    <div class="container">
        <input class="form-control text-left col-md-12" id="q1input" type="text" placeholder="Question 1)">
        <div class="row">
            <div class="col"> <input class="form-control text-left col-md-12" type="text" placeholder="A)" /> </div>
            <div class="col"> <input class="form-control text-left col-md-12" type="text" placeholder="B)"> </div>
            <div class="w-100"></div>
            <div class="col"><input class="form-control text-left col-md-12" type="text" placeholder="C)"></div>
            <div class="col"><input class="form-control text-left col-md-12" type="text" placeholder="D)"></div>
        </div>
    </div>
    <div class="container text-center padding">
        <div class="select">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected> Please choose the correct answer </option>
                <option value="q1s1">A)</option>
                <option value="q1s2">B)</option>
                <option value="q1s3">C)</option>
                <option value="q1s4">D)</option>
            </select>

        </div>
    </div>

    <!-- endregion -->
    <!-- Question 2 Part -->

    <div class="container">
        <input class="form-control text-left col-md-12" type="text" id="q2input" placeholder="Question 2)">
        <div class="row">
            <div class="col"> <input class="form-control text-left col-md-12" type="text" placeholder="A)" /> </div>
            <div class="col"> <input class="form-control text-left col-md-12" type="text" placeholder="B)"> </div>
            <div class="w-100"></div>
            <div class="col"><input class="form-control text-left col-md-12" type="text" placeholder="C)"></div>
            <div class="col"><input class="form-control text-left col-md-12" type="text" placeholder="D)"></div>
        </div>
    </div>
    <div class="container text-center padding">
        <div class="select">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected> Please choose the correct answer </option>
                <option value="q2s1">A)</option>
                <option value="q2s2">B)</option>
                <option value="q2s3">C)</option>
                <option value="q2s4">D)</option>
            </select>

        </div>
    </div>
    <!-- endregion -->
    <!-- Question 3 Part -->

    <div class="container">
        <input class="form-control text-left col-md-12" type="text" id="q3input" placeholder="Question 3)">
        <div class="row">
            <div class="col"> <input class="form-control text-left col-md-12" type="text" placeholder="A)" /> </div>
            <div class="col"> <input class="form-control text-left col-md-12" type="text" placeholder="B)"> </div>
            <div class="w-100"></div>
            <div class="col"><input class="form-control text-left col-md-12" type="text" placeholder="C)"></div>
            <div class="col"><input class="form-control text-left col-md-12" type="text" placeholder="D)"></div>
        </div>
    </div>
    <div class="container text-center padding">
        <div class="select">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected> Please choose the correct answer </option>
                <option value="q3s1">A)</option>
                <option value="q3s2">B)</option>
                <option value="q3s3">C)</option>
                <option value="q3s4">D)</option>
            </select>

        </div>
    </div>
    <!-- endregion -->
    <!-- Question 4 Part -->

    <div class="container">
        <input class="form-control text-left col-md-12" type="text" id="q4input" placeholder="Question 4)">
        <div class="row">
            <div class="col"> <input class="form-control text-left col-md-12" type="text" placeholder="A)" /> </div>
            <div class="col"> <input class="form-control text-left col-md-12" type="text" placeholder="B)"> </div>
            <div class="w-100"></div>
            <div class="col"><input class="form-control text-left col-md-12" type="text" placeholder="C)"></div>
            <div class="col"><input class="form-control text-left col-md-12" type="text" placeholder="D)"></div>
        </div>
    </div>
    <div class="container text-center padding">
        <div class="-select">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected> Please choose the correct answer </option>
                <option value="q4s1">A)</option>
                <option value="q4s2">B)</option>
                <option value="q4s3">C)</option>
                <option value="q4s4">D)</option>
            </select>

        </div>
    </div>
    <!-- endregion -->
    <!-- Question 5 Part -->

    <div class="container">
        <input class="form-control text-left col-md-12" type="text" id="q5input" placeholder="Question 5)">
        <div class="row">
            <div class="col"> <input class="form-control text-left col-md-12" type="text" placeholder="A)" /> </div>
            <div class="col"> <input class="form-control text-left col-md-12" type="text" placeholder="B)"> </div>
            <div class="w-100"></div>
            <div class="col"><input class="form-control text-left col-md-12" type="text" placeholder="C)"></div>
            <div class="col"><input class="form-control text-left col-md-12" type="text" placeholder="D)"></div>
        </div>
    </div>
    <div class="container text-center padding">
        <div class="select">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected> Please choose the correct answer </option>
                <option value="q5s1">A)</option>
                <option value="q5s2">B)</option>
                <option value="q53s3">C)</option>
                <option value="q5s4">D)</option>
            </select>

        </div>
    </div>

    <!-- endregion -->
    <div class="d-flex justify-content-around padding-left">
        <button id="SubmitAll" type="button" class="btn btn-primary btn-lg text-center">Submit</button>

    </div>
</div>

<script type="text/javascript">


        $('#formtopic').click(function () {
        if (this.value == 't1') {
            $("textarea").html("FROM A NEW iPhone SE and iPad Air to a beefy M1 Ultra chipset, Apple's spring hardware event brought refreshed versions of existing gadgets and processors. But the company also introduced a completely new piece of hardware on Tuesday called the Mac Studio—a small but mighty M1-powered desktop computer.");
        }
        else if (this.value == 't2') {
             $("textarea").html("IMAGINE THIS: IT’S September 2015. You are out for a walk down a lonely dirt road, and you fall into a well. Your phone breaks. No one can find you. Death beckons. Luckily, the water supply is fresh, and there’s a dry ledge to sleep on. You discover the moss and algae lining the bricks of the well shaft are edible. Sometimes, you even catch a lizard. You survive for seven long years. Finally, you’re rescued! After receiving medical attention, showering, reuniting with loved ones, et cetera, you decide to watch television. “What is ‘Peacock’?” you ask, looking at a screen crowded with unfamiliar apps. “Is HBO Max like HBO Go? How does the Discovery channel have enough shows for a whole streaming service?” Everyone tells you to relax already and pick a show. So you choose Hulu’s new limited series The Dropout.");
        }
        else if (this.value == 't3') {
            $("textarea").html("LAST WEEK, THE Ukrainian government put out a public call to “all game development companies” to “temporarily block all Russian and Belorussian accounts” in response to Russia's ongoing invasion of Ukraine. Now, after a slow start, many of the game industry's major players are heeding that call and cutting off new sales in the country.");
        }
        else if (this.value == 't4') {
            $("textarea").html("WHETHER YOU'RE WORKING from home a few days of the week or full-time, it's important to carve out a space that separates your work and personal life. It's equally important to make sure your work station is fully kitted out with the right gear and accessories to make the day more bearable and comfortable. Since 2020, we've been testing standing desks, office chairs, monitors, USB docks, keyboards, and tons of other work-from-home gear in our own lives—these are our favorites.");
        }
        else if (this.value == 't5') {
            $("textarea").html("THE WEB-BASED SOFTWARE known as the Animal Health Emergency Reporting Diagnostic System, or USAHERDS, serves as a helpful digital tool for state governments to track and trace animal diseases through populations of livestock. Now it's turned out to be a kind of infection vector of its own—in the hands of one of China's most prolific groups of hackers.");
        }



        /*$(document).ready(function(){
      $("button").click(function(){
        $("p").html("Hello <b>world!</b>");
      });
    });
    */


    });

     $('#SubmitAll').click(function () {

                       var question1 = document.getElementById("q1input").value;
                       var question2 = document.getElementById("q2input").value;
                       var question3 = document.getElementById("q3input").value;
                       var question4 = document.getElementById("q4input").value;
                       var question5 = document.getElementById("q5input").value;

                       function(resposeQuestion,statusQuestion,xhr){
                           if(statusQuestion="success")
                           alert("Successful Save");
                           else if(statusQuestion="error")
                           alert("Failed"+xhr.status + " : "xhr.statusText);

                       }
                   });
</script>